DB_HOST=your_database_host
DB_USER=your_database_user
DB_PASS=your_database_password
DB_NAME=your_database_name
DB_PORT=7878

# Environment (local/dev/test/live)
NODE_ENV=<env>

# Timezone
TZ=utc

# Passport config - 256-bit key
AUTHENTICATION_KEY=your_authentication_key
REFRESH_TOKEN_KEY=your_refresh_token_key

BASEURL=https://your-base-url.com/
ENDPOINT_API=/api

# Mailer config
SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_EMAIL=your_smtp_email
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
SMTP_TLS=true

# S3 Config
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_BUCKET=your_aws_bucket
